.zero {
  color: black;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-name: example;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  /* Standard syntax */
  animation-name: example;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {color: black;}
  to {color: red}
}

/* Standard syntax */
@keyframes example {
  from {color: black;}
  to {color: red}
}
